.idea
.DS_Store
.env
.netlify
.redwood
dev.db
dist
dist-babel
node_modules
yarn-error.log
web/public/mockServiceWorker.js

# Docs
docs/**/*

# Logs
/logs/**/*
api/logs/**/*

# Deployment
.serverless


# Deployment
.serverless